<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
     <li><a href="/" class="gradient-button1" > Home </a> </li>
     <li><a href="/builder/partpicker/cpu" class="gradient-button"> CPU </a></li>
     <li><a href="/builder/partpicker/motherboard" class="gradient-button"> Motherboard </a></li>
     <li><a href="/builder/partpicker/cpu-cooler" class="gradient-button"> CPU Cooler </a></li>
     <li><a href="/builder/partpicker/memory" class="gradient-button"> Memory </a></li>
     <li><a href="/builder/partpicker/video-card" class="gradient-button"> Video-card </a></li>
     <li><a href="/builder/partpicker/case" class="gradient-button"> Case </a></li>
     <li><a href="/builder/partpicker/internal-hard-drive" class="gradient-button"> Hard-Drive </a></li>
     <li><a href="/builder/partpicker/power-supply" class="gradient-button"> Power-Supply </a></li>
     <li><a href="/builder/start/done" class="gradient-button1"> Save </a></li>
</body>
</html>